PORT=3001
DATABASE_URL="file:./dev.db"
JWT_SECRET="change-me-super-secret"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="*"
SEED_SUDO_USERNAME="admin"
SEED_SUDO_PASSWORD="phoenix123"
SEED_SUDO_DISPLAY_NAME="Super Admin Phoenix"
